*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* border: solid red 2px; */
}

body{
    background-color: #BBD6B8;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #94AF9F;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 15px 30px #7F8487;
}

#header{
    padding-bottom: 40px;
    text-align: center;
    background-color: #789395;
    padding: 20px;
}

.task{
    height: 40px;
    width: 300px;
    margin-top: 20px;
    padding-left: 20px;
}
.sub-button{
    height: 40px;
    width: 320px;
    background-color: #AEC2B6;
    margin-top: 20px;
    border: solid 2px;
}